*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Asap", sans-serif;
}

body{
    padding: 30px 0;
    background-image: url(https://wallpaperaccess.com/full/3952024.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin: 20px 0;
}

.containerPokemon{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 350px;
}

input[type=text]{
    margin: 10px 0;
    width: 300px;
    height: 35px;
    border-color: red;
    border-radius: 5px;
    padding: 20px 10px;
}

input::placeholder{
    font-size: 15px;
}

input[type=file]{
    margin: 10px 0;
    width: 300px;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 15px;
}

input[type=submit]{
    width: 100px;
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 0;
    margin: 10px;
}

.containerCard{
    width: 90%;
    padding: 20px 0;
    margin: 30px 0;
    display: flex;
    overflow-x: hidden;
    overflow-x: scroll;   
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
}

.card{
    width: 300px;
    border: 1px solid green;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 20px;
}

.imgDiv{
    width: 190px;
    height: 190px; 
    background-color: grey;
}

.btnDelete{
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
}

.btnDelete img{
    width: inherit;
}

@media screen and (min-width: 768px) {

    ::-webkit-scrollbar{
        height: 0px;
    }

    .containerCard{
        width: 1500px;
        padding: 20px;
        margin: 30px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .card{
        border: 1px solid green;
        width: 350px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px 50px;
    }

}

.bg-grass {
    background-color: #DEFDE0;
}

.bg-electric {
    background-color: #FCF7DE;
}

.bg-water {
    background-color: #DEF3FD;
}

.bg-ground {
    background-color: #f4e7da;
}

.bg-rock {
    background-color: #d5d5d4;
}

.bg-fairy {
    background-color: #fceaff;
}

.bg-poison {
    background-color: #98d7a5;
}

.bg-bug {
    background-color: #f8d5a3;
}

.bg-dragon {
    background-color: #97b3e6;
}

.bg-psychic {
    background-color: #eaeda1;
}

.bg-flying {
    background-color: #F5F5F5;
}

.bg-fighting {
    background-color: #E6E0D4;
}

.bg-normal {
    background-color: #F5F5F5;
}

.bg-fire {
    background-color: #FDDFDF;
}

.bg-ghost {
    background-color: #705898;
}

.bg-ice {
    background-color: #98d8d8;
}